<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Tyoe"
	content="text/htmk; charset=UTF-8" />
<title>top page</title>
<style>
h1 { font-size:18pt; font-weight:bold; color:gray; }
body { font-size:13pt; color:gray; margin:5px 25px; }
pre { border: solid 3px #ddd; padding: 10px; }
tr { margin: 5px; }
th { padding:5px; color: white; background:darkgray; }
td { padding:5px; color:black; background:#f0f0f0; }
.err { color:red; }
</style>
<style th:include="part :: frag_style">
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

</head>
<body>
	<h1 th:text="#{content.title}">Helo page</h1>
	<p th:text="${msg}"></p>
 	<ol id="obj"></ol>
	<table>
	<form method="post" action="/" th:object="${formModel}">
		<tr><td><label for="name">名前</label></td>
			<td><input type="text" name="name" th:value="*{name}" th:errorclass="err"/>
			<div th:if="${#fields.hasErrors('name')}"
			th:errors="*{name}" th:errorclass="err">
			</div></td>
		</tr>
		<tr><td><labeL for="age">年齢</labeL></td>
			<td><input type="text" name="age" th:value="*{age}" th:errorclass="err" />
			<div th:if="${#fields.hasErrors('age')}"
			th:errors="*{age}" th:errorclass="err">
			</div></td>
		</tr>
		<tr><td><label for="mail">メール</label></td>
			<td><input type="text" name="mail" th:value="*{mail}" th:errorclass="err">
			<div th:if="${#fields.hasErrors('mail')}"
			th:errors="*{mail}" th:errorclass="err">
			</div></td>
		</tr>
		<tr><td><label for="memo">メモ</label></td>
			<td><textarea name="memo" th:text="*{memo}" th:errorclass="err" cols="20" rows="5"></textarea>
			<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorclass="err">
			</div></td>
		</tr>
		<tr><td><input type="submit" /></td>
		</tr>
	</form>
	</table>
 	<hr />
<!--  	<div>
 		<a my:mypage="${datalist.getNumber() -1}">&lt;&lt;prev</a>

 		<a my:mypage="${datalist.getNumber() + 1}">next&gt;&gt;</a>
 	</div>
 -->	<table>
	<tr><th>ID</th><th>名前</th><th>メール</th><th>年齢</th><th>メモ(tel)</th></tr>
	<tr th:each="obj : ${datalist}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.name}"></td>
		<td th:text="${obj.mail}"></td>
		<td th:text="${obj.age}"></td>
		<td th:text="${obj.memo}"></td>
	</tr>
	</table>
</body>

</html>